<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <% if @random.errors.any? %>
        <div id="error_explanation">
          <h2><%= @random.errors.count %>件のエラーがあります。</h2>

          <ul>
          <% @random.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>      
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-white">お題</h1>
        <%= form_for @random do |f| %>
          <div class="form-group">
            <%= f.label :title, class: 'text-white' %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>

          <%= f.submit "登録", class: 'btn-block btn-white' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
